Repository nabondance/Trailhead-Banner, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, config, dependencies, documentation, source, styles, tests, assets, fonts, logos, public, images

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/*'

config:
  - changed-files:
      - any-glob-to-any-file: 'config/*'
      - any-glob-to-any-file: 'next.config.mjs'
      - any-glob-to-any-file: 'eslint.config.mjs'
      - any-glob-to-any-file: 'tailwind.config.mjs'
      - any-glob-to-any-file: 'postcss.config.mjs'
      - any-glob-to-any-file: 'jsconfig.json'
      - any-glob-to-any-file: '.env*'

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
      - any-glob-to-any-file: 'pnpm-lock.yaml'

documentation:
  - changed-files:
      - any-glob-to-any-file: 'CONTRIBUTING.md'
      - any-glob-to-any-file: '**/README.md'
      - any-glob-to-any-file: 'docs/*'

source:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

styles:
  - changed-files:
      - any-glob-to-any-file: 'styles/**/*'
      - any-glob-to-any-file: '**/*.css'
      - any-glob-to-any-file: '**/*.scss'

tests:
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*'
      - any-glob-to-any-file: '**/*.test.js'
      - any-glob-to-any-file: '**/*.spec.js'

assets:
  - changed-files:
      - any-glob-to-any-file: 'public/assets/**/*'

fonts:
  - changed-files:
      - any-glob-to-any-file: 'public/assets/fonts/*'

logos:
  - changed-files:
      - any-glob-to-any-file: 'public/assets/logos/*'

public:
  - changed-files:
      - any-glob-to-any-file: 'public/**/*'

images:
  - changed-files:
      - any-glob-to-any-file: '**/*.png'
      - any-glob-to-any-file: '**/*.jpg'
      - any-glob-to-any-file: '**/*.jpeg'
      - any-glob-to-any-file: '**/*.gif'
      - any-glob-to-any-file: '**/*.svg'
      - any-glob-to-any-file: '**/*.webp'

feat(logo): update MVP SVG logo with new design and color adjustments
  public/assets/examples/example10.png
  public/assets/logos/mvp.svg
Labels: assets, logos, public, images

fix(styles): add underline on hover for dropdown links
  src/styles/globals.css
Labels: source, styles

fix(layout): simplify footer structure and ensure proper alignment
  src/app/layout.js
  src/styles/globals.css
Labels: source, styles

fix(styles): adjust submit button font size and padding for better usability
  src/styles/globals.css
Labels: source, styles

feat(background-library): add copy URL functionality and improve layout
  src/components/BackgroundLibraryPage.js
  src/styles/globals.css
Labels: source, styles

feat(background-library): enhance banner card with credit information and update layout instructions
  public/assets/background-library/banner1.png
  src/components/BackgroundLibraryPage.js
  src/styles/globals.css
Labels: source, styles, assets, public, images

fix(styles): increase margin-bottom for examples and background library containers for improved spacing
  src/styles/globals.css
Labels: source, styles

fix(layout): improve code formatting for better readability and maintainability
  src/components/BackgroundLibraryPage.js
Labels: source

fix(background-library): update link text for clarity in banner description
  src/components/BackgroundLibraryPage.js
Labels: source

feat(background-library): refactor background links into a dynamic list for better maintainability
  src/components/BackgroundLibraryPage.js
Labels: source

fix(styles): increase margin-top for example grid to enhance spacing
  src/styles/globals.css
Labels: source, styles

fix(styles): add z-index to example card for proper layering below footer
  src/styles/globals.css
Labels: source, styles

feat(banner): add options to display badge and superbadge counts in the banner
  src/components/BannerForm.js
  src/components/MainPage.js
  src/pages/api/generate-image.js
  src/utils/generateImage.js
Labels: source

feat(banner-form): refactor handleImageSubmit to use options object for better parameter management
  src/components/BannerForm.js
  src/components/MainPage.js
  src/pages/api/generate-image.js
  src/utils/generateImage.js
Labels: source

fix(styles): center links in global styles for improved layout
  src/styles/globals.css
Labels: source, styles

feat(banner-form): add option to display rank logo in the banner form
  src/components/BannerForm.js
  src/utils/generateImage.js
Labels: source

fix: improve code formatting and consistency in various components
  src/components/BackgroundLibraryPage.js
  src/components/BannerForm.js
  src/pages/api/generate-image.js
  src/utils/generateImage.js
Labels: source

feat: add lint-staged configuration for automatic code formatting
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat(trailhead-banner): add 'Star the repo' link with styling for visibility
  src/components/TrailheadBannerHeader.js
  src/styles/globals.css
Labels: source, styles

fix(trailhead-banner-header): open external link in a new tab for improved user experience
  src/components/TrailheadBannerHeader.js
Labels: source

fix(generateImage): refactor rank logo loading and correct badge count references
  src/utils/generateImage.js
Labels: source

fix(generateImage): update count variables for image generation
  src/pages/api/generate-image.js
Labels: source

fix(BannerForm): update background image label to reflect correct aspect ratio
  src/components/BannerForm.js
Labels: source

feat(BannerForm): add file upload option for custom background image and update validation logic
  src/components/BannerForm.js
  src/pages/api/generate-image.js
  src/utils/generateImage.js
Labels: source

fix(core): remove file upload
  src/components/BannerForm.js
  src/pages/api/generate-image.js
  src/utils/generateImage.js
Labels: source

fix(TrailheadBannerHeader): format links for better readability
  pnpm-lock.yaml
  src/components/TrailheadBannerHeader.js
Labels: dependencies, source

feat(BannerForm): add certification count display and update image generation logic
  src/components/BannerForm.js
  src/utils/generateImage.js
Labels: source

refactor(generateImage): improve variable naming for badge text rendering
  src/utils/generateImage.js
Labels: source

fix(generateImage): adjust text positioning for improved layout
  src/utils/generateImage.js
Labels: source

fix(generateImage): adjust text positioning for improved text layout
  src/utils/generateImage.js
Labels: source

feat(BannerForm): reorganize options into fieldsets for better structure and readability
  src/components/BannerForm.js
  src/styles/globals.css
  src/utils/generateImage.js
Labels: source, styles

fix(BannerForm): update label text for consistency in display options
  src/components/BannerForm.js
Labels: source

fix(globals.css): increase margin-bottom for legend to enhance spacing
  src/styles/globals.css
Labels: source, styles

feat(BannerForm, MainPage): add error handling and display for image generation
  src/components/BannerForm.js
  src/components/MainPage.js
  src/styles/globals.css
Labels: source, styles

fix(MainPage): improve error handling for image generation response
  src/components/MainPage.js
Labels: source

docs(CONTRIBUTING.md): update development setup instructions and add learning resources
  CONTRIBUTING.md
Labels: documentation

docs(README.md): update project description and features for clarity
  README.md
Labels: documentation

refactor(BannerForm): add comment to clarify setError prop usage
  src/components/BannerForm.js
Labels: source

docs(CONTRIBUTING.md): enhance development setup section with formatting improvements
  CONTRIBUTING.md
Labels: documentation

refactor(BannerForm): remove redundant comment about setError prop
  src/components/BannerForm.js
Labels: source
