Repository nabondance/Trailhead-Banner, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, config, dependencies, documentation, source, styles, tests, assets, fonts, logos, public, images

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/*'

config:
  - changed-files:
      - any-glob-to-any-file: 'config/*'
      - any-glob-to-any-file: 'next.config.mjs'
      - any-glob-to-any-file: 'eslint.config.mjs'
      - any-glob-to-any-file: 'tailwind.config.mjs'
      - any-glob-to-any-file: 'postcss.config.mjs'
      - any-glob-to-any-file: 'jsconfig.json'
      - any-glob-to-any-file: '.env*'

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
      - any-glob-to-any-file: 'pnpm-lock.yaml'

documentation:
  - changed-files:
      - any-glob-to-any-file: 'CONTRIBUTING.md'
      - any-glob-to-any-file: '**/README.md'
      - any-glob-to-any-file: 'docs/*'

source:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

styles:
  - changed-files:
      - any-glob-to-any-file: 'styles/**/*'
      - any-glob-to-any-file: '**/*.css'
      - any-glob-to-any-file: '**/*.scss'

tests:
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*'
      - any-glob-to-any-file: '**/*.test.js'
      - any-glob-to-any-file: '**/*.spec.js'

assets:
  - changed-files:
      - any-glob-to-any-file: 'public/assets/**/*'

fonts:
  - changed-files:
      - any-glob-to-any-file: 'public/assets/fonts/*'

logos:
  - changed-files:
      - any-glob-to-any-file: 'public/assets/logos/*'

public:
  - changed-files:
      - any-glob-to-any-file: 'public/**/*'

images:
  - changed-files:
      - any-glob-to-any-file: '**/*.png'
      - any-glob-to-any-file: '**/*.jpg'
      - any-glob-to-any-file: '**/*.jpeg'
      - any-glob-to-any-file: '**/*.gif'
      - any-glob-to-any-file: '**/*.svg'
      - any-glob-to-any-file: '**/*.webp'

refactor(MainPage): remove redundant comment about setError prop
  src/components/MainPage.js
Labels: source

feat(MainPage): enhance error handling with issue reporting links and styles
  src/components/MainPage.js
  src/styles/globals.css
  src/utils/issueUtils.js
Labels: source, styles

refactor(BannerForm, MainPage): rename setError to setMainError and update error handling
  src/components/BannerForm.js
  src/components/MainPage.js
  src/utils/issueUtils.js
Labels: source

feat(BannerForm, MainPage): add onValidationError prop for improved error handling
  src/components/BannerForm.js
  src/components/MainPage.js
Labels: source

refactor(BannerForm): consolidate state management into a single options object
  src/components/BannerForm.js
Labels: source

refactor(TrailheadBannerHeader): simplify header title for clarity
  src/components/TrailheadBannerHeader.js
Labels: source

refactor(BannerForm): format input elements for improved readability
  src/components/BannerForm.js
Labels: source

feat(linting): add MegaLinter configuration and workflow for code quality checks
  .github/workflows/mega-linter.yml
  .gitignore
  .mega-linter.yml
Labels: ci

feat(workflow): add GitHub labeler workflow for automatic label management
  .github/workflows/labeler.yml
Labels: ci

fix(style): remove useless css file
  src/components/YourComponent.css
Labels: source, styles

refactor(linter): comment out unused PR output step in MegaLinter workflow
  .github/workflows/mega-linter.yml
Labels: ci

fix(linter): disable Markdown table formatter to resolve conflict with Prettier
  .mega-linter.yml
Labels: none

feat(linters): add configuration files for Checkov, Markdown linting, and YAML linting
  .github/linters/.checkov.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
Labels: none

docs(CONTRIBUTING): disable markdown link check for improved contribution clarity
  CONTRIBUTING.md
Labels: documentation

fix(workflow): correct indentation in labeler.yml for proper YAML structure
  .github/workflows/labeler.yml
Labels: ci

fix(linter): remove unnecessary blank lines in .mega-linter.yml for cleaner configuration
  .mega-linter.yml
Labels: none

fix(linter): disable JavaScript standard linter to resolve conflict with Prettier
  .mega-linter.yml
Labels: none

feat(linters): add Stylelint configuration and dependencies for CSS linting
  .github/linters/.stylelintrc.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix(styles): clean up CSS syntax and improve box-shadow consistency
  src/styles/BackgroundWave.css
  src/styles/globals.css
Labels: source, styles

fix(styles): comment out unused Tailwind base directive in globals.css
  src/styles/globals.css
Labels: source, styles

fix(style): move stylelinrc to root
  .stylelintrc.json
Labels: none

refactor(layout): remove BackgroundWave component and associated styles
  src/app/layout.js
  src/components/BackgroundWave.js
  src/styles/BackgroundWave.css
Labels: source, styles

feat(linters): add Yamllint configuration for YAML linting
  .github/linters/yamllint.yml
Labels: none
